/* styling */

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.intro-section,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

.header-link,
.footer-link,
.hero p {
    font-size: 18px;
    color: #acb9d4;
}

/* alignment */

/* intro-section, header and footer alignment */
.intro-section,
.footer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0 60px 0;
}
.header-link {
    margin-left: 21px;
}
.footer {
    height: 42px;
    justify-content: center;
}
.awesome {
    display: flex;
    width: 70%;
    justify-content: space-between;
    column-gap: 42px;
    margin-bottom: 100px;
}
.hero h1 {
    font-size: 42px;
}
.hero p {
    line-height: 1.5;
    margin: 10px 0 21px 0;
}
button {
    background-color: #6386b3;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 8px 21px;
    border-radius: 8px;
    cursor: pointer;
}
.hero {
    width: 320px;
}
.cropped {
    width: 640px;
    height: 320px;
    overflow: hidden;
}

.cropped img {
    margin-top: -175px;
}

/* info-section alignment */
.info-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding: 42px 0;
}

.info-section h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
   
}

.info-section .note {
    margin-bottom: 42px;
}

.info-section p {
    color: #8c9099;
    margin-top: 10px;
}

.photo-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.photo-section > * {
    max-width: 175px;
    text-align: center;
}

.small-crop {
    width: 175px;
    height: 175px;
    border: 5px solid #6386b3;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.crop1 img,
.crop4 img {
    width: 175px;
    height: auto;
}

.crop2 img,
.crop3 img {
    width: auto;
    height: 175px;
}

.crop1 img {
    margin: 15px 0 0 -5px;
}

.crop1 {
    background-color: #e5e7eb;
}

.crop4 img {
    margin-top: -50px;
}


/* quote-section alignment */
.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #e5e7eb;
}

.impossible {
    width: 70%;
    padding: 100px;
    box-sizing: border-box;
}

.impossible p {
    color: #1f2937;
    line-height: 1.5;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* action-section alignment */

.action-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.action-call {
    width: 70%;
    background-color: #6386b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 100px;
    border-radius: 15px;
    margin: 84px 0;
}

.action-call h2 {
    font-weight: bold;
}

.action-call div {
    width: 60%;
    line-height: 1.5;
}

.action-call button {
    border: 3px solid #f9faf8;
    width: fit-content;
    height: 42px;
}